/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2014, 10:56:34 PM
    Author     : marius
*/

body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

#calendar {
    float : right;
    width: 900px;
/*    margin-left: 200px;*/
    margin: 0 auto;
    }
    
div#mini_calendar {
        float: left;
        width : 350px;
        margin-bottom: 10em;
        margin-top: 10em;
    } 
#mini_calendar body {
/*    margin-top: 40px;*/
    text-align: center;
    font-size: 9px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;    
    }   